<a href="https://colab.research.google.com/github/AndreaDvorakova/ENGETO_Data_Academy_Useful/blob/main/Kopie_se%C5%A1itu_Cvi%C4%8Den%C3%AD_M%C3%ADrn%C4%9B_pokro%C4%8Dil%C3%BD_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.5 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [14]:
from sqlalchemy import create_engine
import pandas as pd
import pymysql
from google.colab import files
import numpy as np
import requests

#CVICENI PODMINKY, NOVE SLOUPCE

**Úkol 1**: Z tabulky countries vyberte země, ve kterých není hlavním náboženstvím buddhismus.

In [5]:
query = 'SELECT * FROM countries'
engine = create_engine('mysql+pymysql://student2:eh2BjVEpYmDcT96E@data.engeto.com:3306/data_academy_02_2022') 
df = pd.read_sql(query, engine)

In [ ]:
df_buddhism = df[df['religion'] != 'Buddhism']

In [ ]:
df_eur = df['currency_code'] = 'EUR']

SyntaxError: ignored

**Úkol 2:** Z tabulky countries vyberte 10 zemí s nejnižším datem nezávislosti, které je ale větší než 1500.

In [ ]:
df_independency = df.sort_values('independence_date', ascending = True)
df_independency = df_independency[df_independency['independence_date'] > 1500]
df_independency.head()

**Úkol 4**: Vyberte všechny země, jejichž hlavním náboženstvím není křesťanství nebo islám.

In [ ]:
selection = df['religion'].isin(['Christianity', 'Islam'])
countries_df = df[selection].dropna(subset = ['religion'])
print(countries_df)

**Úkol 3**: Zjistěte země, jejichž národním symbolem není zvíře.

In [ ]:
df_national_symbol = df[df['national_symbol'] != 'animal'].dropna(subset = ['national_symbol'])

print(df_national_symbol)

Úkol 5: Vyberte země, ve kterých se platí Eurem, a zároveň jejich hlavním náboženstvím není křesťanství.

In [ ]:
df_eur = df.query("currency_name == 'Euro' and religion != 'Christianity'").dropna(subset = ['religion'])
print(df_eur)

**Úkol 6**: Pro každou zemi spočítejte ručně hustotu zalidnění. Ověřte správnost výpočtu.

In [ ]:
df['population_density_manual'] = df['population'] / df['surface_area']
df[['population_density_manual', 'population_density']].head()

#CVICENI GROUP BY

**Úkol 1**: Zjistěte počet obyvatel všech kontinentů v milionech. Seřaďte kontinenty podle počtu obyvatel.

In [ ]:
df_sorted = (df[['continent', 'population']].groupby('continent').sum().sort_values('population')/1000000).astype(int)
print(df_sorted)

**Úkol 2**: Pro každé náboženství zjistěte počet států, kde je toto náboženství dominantní.

In [ ]:
df[['country', 'religion']].groupby('religion').count()
#df[['religion']].assign(cnt=1).groupby('religion').sum()

**Úkol 3:** Pro každý kontinent zjistěte celkový počet obyvatel v milionech, průměrný počet obyvatel státu v milionech a počet států ležících na daném kontinentu.

In [ ]:
df_sumpop = (df[['continent', 'population']].groupby('continent').sum()/1000000)
print(df_sumpop)

In [ ]:
df_prumpop = (df[['continent', 'population']].groupby('continent').mean()/1000000)
print(df_prumpop)

In [ ]:
df_count = (df[['continent', 'population']].groupby('continent').count())
print(df_count)

In [ ]:
result = (countries_df[['continent', 'population']]
 .assign(cnt=1, population=np.round(countries_df.population/1000000, 2))
 .groupby('continent')
 .agg({'population': ['sum', 'mean'], 'cnt': 'sum'})
 .round(2)
)
print(result)

**Úkol 4**: Načtěte tabulku religions. Pro každý světový region zjistěte počet států ležících v tomto regionu.

In [ ]:
query_religions = 'SELECT * FROM religions'
df_religions = pd.read_sql(query_religions, engine)

In [ ]:
df_region = df_religions[df_religions['year'] == 2010]
df_region = df_region[['region', 'country']].drop_duplicates().groupby('region').count()
print(df_region)

In [ ]:
df_region2 = (df_religions.query('year == 2010')[['region', 'country']].drop_duplicates().groupby('region').count())
print(df_region2)

**Úkol 5**: Zjistěte počet příslušníků každého náboženství v každém světovém regionu pro rok 2050. Počet uveďte v milionech obyvatel.

In [ ]:
df_2050 = (df_religions.query('year == 2050')[['region', 'religion', 'population']].assign(population=df_religions.population/1000000).groupby(['region', 'religion']).sum())
print(df_2050)

**Úkol 6:** Vytvořte přehled pořadí náboženství ve světových regionech podle počtu příslušníků. Tedy tabulku, kde každý řádek je jeden světový region, každý sloupec jedno náboženství a každá hodnota je pořadí daného náboženství na daném kontinentu.

Nápověda: Budou se hodit metody .rank() a .unstack().

In [ ]:
df_rank = (df_religions
 .groupby(['region', 'religion'])
 [['population']]
 .sum()
 .groupby('region')
 .rank(ascending=False)
 .unstack(level=-1)
 .astype(int)
)
print(df_rank)

**Úkol 7**: Z tabulky religions vyberte data pouze pro rok 2010 a vyberte jen státy, kterí mají alespoň milion obyvatel. Pro každý stát spočítejte procentní podíly náboženství. Poté spočítejte náboženskou rozmanitost státu, což bude směrodatná odchylka procentního zastoupení každého náboženství. Státy seřaďte podle rozmanitosti a vyberte pouze první tři a poslední tři.

In [ ]:
d1 = df_religions.query("year == 2010")[['country', 'religion', 'population']].groupby(['country', 'religion']).sum()
selection = d1.groupby('country').sum()>=1000000

d2 = d1.loc[selection[selection.values].index]
d2 = d2.groupby('country').transform(lambda x: x/x.sum()*100)
print(d2.head(10))
d3 = d2.groupby('country').std().round(2)
print(d3)
d3 = d3.sort_values('population').iloc[[0,1,2,-1,-2,-3]]
print(d3)

**Úkol 8**: Načtěte tabulku life_expectancy. Pro každý stát zjistěte nejnižší a nejvyšší dobu dožití.

In [ ]:
query_life = 'SELECT * FROM life_expectancy'
df_life = pd.read_sql(query_life, engine)
print(df_life.head())
df_minmax = df_life.groupby('country')[['life_expectancy']].agg(['min', 'max'])

**Úkol 9:** Z tabulky life_expectancy zjistěte, která země měla nejvyšší dobu dožití pro každý rok. Pro všechny vítězné země potom zjistěte, kolikrát byly první.

Nápověda: .rank()

In [ ]:
df_liferank = df_life.groupby(['year', 'life_expectancy']).max()
print(df_liferank)

df_count = df_liferank.groupby(['country']).count()
print(df_count)

**Úkol 10**: Z tabulky economies zjistěte, pro kolik zemí máme v každém roce hodnotu gini koeficientu. Roky seřaďte.

In [ ]:
economies_df = pd.read_sql("select * from economies", engine)

df_gini = (economies_df
 .dropna(subset=['gini'])
 .groupby('year')[['country']]
 .count()
 .sort_values('country', ascending=False)
)

print(df_gini)

#CVICENI JOIN

**Úkol 1**: Načtěte tabulku religions. Pro každé náboženství zjistěte jeho procentní podíl ve světě pro každý rok.

In [ ]:
df_religions2 = df_religions.groupby(['religion', 'year']).sum()
selection = df_religions.groupby(['year']).sum()
df_religions2 = df_religions2.transform(lambda x: x/selection*100)
print(df_religions2)

**Úkol 2**: Spojte tabulky countries a religions. Z countries vyberte pouze kontinent, z religions pouze rok 2010.

In [ ]:
df_countries_slection = df.set_index('country')[['continent']]
print(df_countries_slection)
print('X' * 50)

df_religion2010 = df_religions.set_index(['year', 'country', 'religion']).loc[2010]
print(df_religion2010)
print('X' * 50)

df_join = df_countries_slection.join(df_religion2010)
print(df_join)
print('X' * 50)

**Úkol 3**: Spojte tabulku countries a tabulku economies. Pro každou zemi zjistěte HDP v roce, kdy se tato země stala nezávislou. Pro kolik zemí dokážeme tento údaj získat?

In [ ]:
df_independencz2 = df.set_index('country')[['independence_date']]
df_econom = pd.read_sql('SELECT * FROM economies', engine)
df_econom = df_econom.dropna(subset=['GDP'])
df_economie = df_econom.set_index(['country', 'GDP', 'year'])
df_economjoin = df_independencz2.join(df_economie).query('independence_date == year')
#print(df_economjoin)
df_count2 = df_economjoin.count()
print(df_count2)

**Úkol 3**: Spojte tabulku countries a tabulku economies. Pro každou zemi zjistěte HDP v roce, kdy se tato země stala nezávislou. Pro kolik zemí dokážeme tento údaj získat?

In [ ]:
economies_df = pd.read_sql("select * from economies", engine)


df1 = (df
       [['country', 'independence_date']]
       .dropna()
       .set_index(['country', 'independence_date'])
       .rename_axis(['country', 'year'])
      )
df2 = economies_df.set_index(['country', 'year'])[['GDP']]


df3 = df1.join(df2).reset_index().dropna()
df3.shape

**Úkol 4**: Zjistěte, které země jsou v tabulce countries, ale nejsou v tabulce economies. Seřaďte je sestupně podle počtu obyvatel.

In [ ]:
df1 = df[['country', 'population']].set_index('country')
df2 = economies_df[['country']].assign(check=1).drop_duplicates().set_index('country')


df3 = df1.join(df2)
df3 = df3[df3.check.isna().values].sort_values('population', ascending=False)
print(df3)

**Úkol 5**: Z tabulky life_expectancy pro každý stát zjistěte rozdíl mezi dobou dožití v roce 2015 a v roce 1950. Ve kterých zemích je rozdíl největší? Je nějaká země, kde se doba dožití snížila?

In [ ]:
df_lifeexp_2015 = df_life.set_index(['year', 'country']).loc[2015, ['life_expectancy']]
df_lifeexp_1950 = df_life.set_index(['year', 'country']).loc[1950, ['life_expectancy']]
df_life_diff = df_lifeexp_2015.join(df_lifeexp_1950, rsuffix='_1950')
df_life_diff['difference'] = df_life_diff.life_expectancy - df_life_diff.life_expectancy_1950
df_life_diff = df_life_diff.sort_values('difference', ascending = False)
print(df_life_diff)

**Úkol 6**: Spojte tabulky religions a economies. Z obou tabulek vyberte pouze rok 2010. Po každý stát spočítejte podíl příslušníků jednotlivých náboženství. Po spojení tabulek vynásobte podíl daného náboženství HDP daného státu. Nakonec sečtěte HDP pro všechna náboženství a seřaďte je sestupně. Které náboženství je celkově nejbohatší?

In [ ]:
df_religions3 = df_religions.set_index(['year', 'country', 'religion']).loc[2010, ['population']]
df_religions3 = df_religions3.groupby('country').transform(lambda x:x/x.sum()).rename(columns = {'population': 'religion_share'})

df_econom2 = df_econom.set_index(['year', 'country']).loc[2010, ['GDP']]

df_joinecorel = df_religions3.join(df_econom2)
df_joinecorel['religion_GDP'] = np.round((df_joinecorel.religion_share * df_joinecorel.GDP)/1000000000)
df_joinecorel = df_joinecorel.sort_values('religion_GDP', ascending = False)
print(df_joinecorel)

**Úkol 7**: Stejné zadání jako v předchozím úkolu s tím rozdílem, že nyní náboženství seřaďte podle HDP na osobu

In [ ]:
df_religions3 = df_religions.set_index(['year', 'country', 'religion']).loc[2010, ['population']]
df_religions3 = df_religions3.groupby('country').sum()
print(df_religions3)
df_econom2 = df_econom.set_index(['year', 'country']).loc[2010, ['GDP']]
print(df_econom2)
join_df = df_religions3.join(df_econom2)
join_df['GDP_per'] = join_df.GDP / join_df.population
join_df = join_df.sort_values(['GDP_per']).dropna(subset = ['GDP'])
print(join_df)

**Úkol 8**: Spojte tabulky economies a life_expectancy. Vyberte pouze porodnost (fertility) a očekávanou dobu dožití v roce 2015. Spočítejte korelační koeficient.

In [ ]:
df1 = df_econom.set_index(['year', 'country']).loc[2015, ['fertility']]
df2 = df_life.set_index(['year', 'country']).loc[2015, ['life_expectancy']]


df3 = df1.join(df2).dropna().drop('World')
df3 = df3.corr()
print(df3)

                 fertility  life_expectancy
fertility         1.000000        -0.843962
life_expectancy  -0.843962         1.000000

**Úkol 9**: Spojte tabulky economies a religions. Vyberte pouze rok 2010. Pro každé náboženství spočítejte průměrnou porodnost.

Nápověda: Je potřeba použít vážený průměr.

In [ ]:
df1 = df_religions.set_index(['year', 'country', 'religion']).loc[2010, ['population']]
df2 = df_econom.set_index(['year', 'country']).loc[2010, ['fertility']]


df3 = df1.join(df2, how='inner').dropna()
df3 = (df3
 .groupby('religion')
 .agg({'fertility': lambda x: np.average(x, weights=df3.loc[x.index, 'population']).round(2)})
 .sort_values('fertility', ascending=False)
)
print(df3)

**Úkol 10**: Stejný úkol jako předtím, ale tentokrát navíc agregujte i přes kontinenty a spočítejte i zastoupení jednotlivých náboženství na kontinentech. Jak se liší porodnost jednotlivých náboženství na kontinentech?

In [ ]:
df1 = df.set_index('country')[['continent']]
df2 = df_religions.set_index(['year', 'country', 'religion']).loc[2010, ['population']]
df3 = df_econom.set_index(['year', 'country']).loc[2010, ['fertility']]


df4 = df1.join(df2, how='inner').join(df3, how='inner').dropna()
df5 = (df4
 .groupby(['continent', 'religion'])
 .agg({'fertility': lambda x: np.average(x, weights=df4.loc[x.index, 'population']).round(2), 
       'population': lambda x: (np.sum(x)/1000000).round(2)}
     )
 .sort_values('fertility', ascending=False)
)


df5.unstack()['fertility']


df5.unstack()['population']

religion,Buddhism,Christianity,Folk Religions,Hinduism,Islam,Judaism,Other Religions,Unaffiliated Religions
continent,,,,,,,,
Africa,0.11,522.16,27.89,1.46,423.40,0.08,1.83,27.15
Asia,475.78,266.39,350.92,1025.64,1088.88,5.65,44.92,831.65
Europe,1.30,548.97,0.82,1.36,41.31,1.36,0.82,139.83
North America,3.86,444.36,3.87,2.58,3.60,6.12,2.41,73.03
Oceania,0.67,25.55,0.20,0.40,0.59,0.11,0.23,6.99
South America,0.33,351.41,7.15,0.29,0.67,0.33,0.71,31.29

#EVROPSKE ZEME

**Úkol 1**: Z tabulky lookup_df vyberte všechny řádky, které popisují celý stát, tj. ve sloupci province chybí hodnota. Vyberte název státu, zeměpisnou šířku, výšku a populaci (sloupce country, lat, long, population). Výslednou tabulku uložte. Podívejte se, jestli v některých řádcích chybí hodnoty. Pokud ano, zahoďte je.

In [ ]:
lookup_df = pd.read_sql('SELECT * FROM lookup_table', engine)
df1 = lookup_df[lookup_df['province'].isna()].loc[:, ('country', 'lat', 'long', 'population')]
print(df1[df1.isna().any(axis=1)])
df1.dropna(inplace=True)

**Úkol 2**: Z tabulky získané v předchozím úkolu vyberte evropské země.

Nápověda: Evropskou část Ruska vybereme později.

In [ ]:
north = lookup_df.query("country == 'Iceland'")['lat'].values[0]
west = lookup_df.query("country == 'Iceland'")['long'].values[0]
south = lookup_df.query("country == 'Malta'")['lat'].values[0]
east = lookup_df.query("country == 'Ukraine'")['long'].values[0]

cond = (lookup_df['lat'] >= south) & (lookup_df['lat'] <= north) & (lookup_df['long'] >= west) & (lookup_df['long'] <= east)
europe_df = lookup_df[cond]
print(europe_df)

**Úkol 3**: Z tabulky lookup_df vyberte evropskou část Ruska a připojte ji k tabulce z předchozího úkolu.

Nápověda: Hranice vede přibližně 60tým poledníkem.

In [ ]:
df = lookup_df[lookup_df['country']=='Russia']
df = df[(df['province'].isna()) & (df['province'] != 'Unknown') & (df['long'] <= 60)].loc[:, ]
df = df.groupby('country').agg({'lat': 'mean', 'long': 'mean', 'population': 'sum'}).reset_index()
europe_df = europe_df.append(df)
print(europe_df)

**Úkol 4:** Země v tabulce europe_df rozdělte na 4 skupiny podle jejich polohy vůči České republice. Chceme země na severovýchod, jihovýchod, severozápad a jihozápad. Každé skupině dejte vhodný název. České republice přiřaďte chybějící hodnotu.

In [ ]:
cz_lat = europe_df.query("country == 'Czechia'")['lat'].values[0]
cz_long = europe_df.query("country == 'Czechia'")['long'].values[0]

europe_df['north_south'] = np.where(europe_df['lat']>cz_lat, 'north', 'south')
europe_df['east_west'] = np.where(europe_df['long']>cz_long, 'east', 'west')

europe_df = (europe_df
             .assign(region = europe_df['north_south'] + europe_df['east_west'])
             .drop(['north_south', 'east_west'], 1)
            )
            
europe_df['region'] = np.where(europe_df['country'] == 'Czechia', np.nan, europe_df['region'])
print(europe_df)

**Úkol 5**: Ke každému státu v tabulce europe_df přiřaďte třímístný kód státu z tabulky lookup_df (sloupec iso3). Nový sloupec pojmenujte code. Nastavte jej jako index.

In [ ]:
df_help = lookup_df[lookup_df['province'].isna()].loc[:, ('country', 'iso3')].dropna()
europe_df = europe_df.merge(df_help, on='country')
europe_df.set_index('iso3', inplace = True)
europe_df.index.name = 'code'
print(europe_df)

**Úkol 6:** Pomocí odkazu ZDE stáhněte data o HDP z různých regionů a zemí. Vyberte pouze nejnovější data a tabulku připojte k tabulce europe_df. Řádky s chybějícími hodnotami zahoďte.

In [ ]:
url = "https://raw.githubusercontent.com/datasets/gdp/master/data/gdp.csv"
df = pd.read_csv(url)


df = (df
      .merge(df
             .groupby('Country Name')[['Year']]
             .max()
             .rename(columns={'Year': 'maxYear'})
             .reset_index()
           )
      .rename(columns={'Country Code': 'code'})
      .set_index('code')
      .query("Year == maxYear")
      .drop(['Country Name', 'Year', 'maxYear'], 1)
     )

europe_df = europe_df.join(df, how='inner', rsuffix='_gdp')
print(europe_df)

**Úkol 7**: Z tabulky europe_df zahoďte sloupce lat a long. Sloupec Value přejmenujte na GDP. Spočítejte sloupec HDP na obyvatele (GDP per capita). Zobrazte tři největší a tři nejmenší země podle podle HDP, populace a HDP na obyvatele.

In [ ]:
europe_df = europe_df.drop(['lat', 'long'], 1).rename(columns={'Value_gdp': 'GDP'})
europe_df['GDP_per_capita'] = (europe_df['GDP'] / europe_df['population']).astype(int)
print('HDP v milionech dolarů')
d = (europe_df
     .sort_values('GDP', ascending=False)[['country', 'GDP']]
     .iloc[[0,1,2,-3,-2,-1]]
     .set_index('country', append=True)//10**6
    )
print(d)
print('\nNejvyšší:')
print(d.head(3))
print('\nNejnižší:')
print(d.tail(3))
print('Populace v tisících obyvatel')
d = (europe_df
     .sort_values('population', ascending=False)[['country', 'population']]
     .iloc[[0,1,2,-3,-2,-1]]
     .set_index('country', append=True)//10**3
    )
print('\nNejvyšší:')
print(d.head(3))
print('\nNejnižší:')
print(d.tail(3))
print('HDP na obyvatele v dolarech')
d = (europe_df
     .sort_values('GDP_per_capita', ascending=False)[['country', 'GDP_per_capita']]
     .iloc[[0,1,2,-3,-2,-1]]
     .set_index('country', append=True)
    )
print('\nNejvyšší:')
print(d.head(3))
print('\nNejnižší:')
print(d.tail(3))

**Úkol 8**: Vytvořte tabulku regions_df, ve které bude HDP, HDP na obyvatele a populace pro každý ze čtyř regionů. Také pro každý region spočítejte počet států v tomto regionu.

Pozor na agregaci HDP na obyvatele. To nemůžme spočítat aritmentickým průměrem kvůli rozdílné velikosti zemí - země s velkou populací by měly stejnou váhu jako malé země. Spočítáme buď vážený průměr, což v groupby není úplně jednoduché. Nebo agregujeme sloupce s HDP a populací a potom jejich podíl spočítáme znovu. Výsledky budou stejné.

Vážený průměr:

In [ ]:
weighted_average = lambda x: np.average(x, weights=europe_df.loc[x.index, 'population'])

regions_df = (europe_df
              .groupby('region')
              .agg({'population': 'sum', 'GDP': 'sum', 'country': 'count', 'GDP_per_capita': weighted_average})
             )

Znovuspočítání:

In [ ]:
regions_df = (europe_df
              .groupby('region')
              .agg({'population': 'sum', 'GDP': 'sum', 'country': 'count'})
             )
regions_df = regions_df.assign(GDP_per_capita=regions_df.GDP/regions_df.population)

**Úkol 9**: Ukažte regiony seřazené postupně podle HDP, populace a HDP na obyvatele od nejvyššího po nejnižší.

In [ ]:
print('HDP v miliardách dolarů')
print(regions_df.sort_values('GDP', ascending=False)[['GDP']]//10**9)

print('Populace v milionech obyvatel')
print(regions_df.sort_values('population', ascending=False)[['population']]//10**6)

print('HDP na obyvatele v dolarech')
print(regions_df.sort_values('GDP_per_capita', ascending=False)[['GDP_per_capita']]//1)

**Úkol 10**: Uložte tabulku europe_df do databáze ve formátu {jméno}_{příjmení}_tasks_europe. Tabulka by měla mít následující sloupce: kód státu, název státu, populace, region, HDP, HDP na obyvatele.

Pozor! studentské účty nemají právo mazat tabulky ani vytvářet indexy. Proto musíte tabulku uložit bez indexu (parametr index=False) a máte jen jeden pokus. Pokud byste chtěli tabulku smazat, kontaktujte lektora.

In [ ]:
#europe_df.reset_index().to_sql('marek_soukup_tasks_europe', alchemy_conn, if_exists='replace', index=False)